body {
    background-color: #c6f9c4;
    padding-top: 10px;
}

.box {
/*    border: 1px solid black;*/
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #b9efb8;
}

/*img {
    width: 100px;
    height: 100px;
}*/

.error {
    color: red;
    font-size: 10px;
    margin-bottom: 5px;
}

.success {
    color: green;
    font-size: 10px;
    margin-bottom: 5px;
}

.rightmargin {
    margin-right: 10px;
}

/*.middle-align {
    vertical-align: top;
}*/